<head>

  <title>IBM Vote App</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="/media/abdullah/01D3A76A0E6F1810/vote app/Image/IBM.png">

  <!-- Latest compiled and minified CSS -->


</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <a class="navbar-brand" href="#">IBM VoteApp</a> -->
              <img class="img-fluid mx-auto d-block" src="assets/IBMvote.png" alt="IBM" style="width:500px;border:0;"  >
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a [routerLink]="['/']">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assets
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
      
                <li><a [routerLink]="['/Subject']">Subject</a></li>
      
                <li><a [routerLink]="['/Voters']">Voters</a></li>
      
              </ul>
            </li>
          </ul>
        </div>
      </nav>
  <!--============================================================================-->


  <div class="container-fluid" style="margin-top:40px;padding:0px;">
    <!--<img class="img-fluid" src="../../Image/IBMvote.png" alt="IBM" style="width:300px;border:0;"  >-->
    <div class="container-fluid jumbotron" style="position:absolute;top:0px;z-index:-1;height:50px;padding:0px;margin-top:60px">
    </div>
  </div>

  <div class="container pt-5 my-5">
    <!-- Nav tabs -->
      <!--<ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#Subjects">Subjects</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#Users">Users</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div id="supjects" class="container tab-pane active" role="tabpanel"><br>
          <ul class="nav nav-pills">
            <!--<li class="nav-item"><a class="nav-link active bg-light text-dark" data-toggle="pill" href="#supjects"><h3>Subjects</h3></a></li>
            <li class="nav-item"><a class="nav-link  bg-light text-secondary" data-toggle="pill" href="#news"><h3>+</h3></a></li>-->
          </ul>
          <div class="tab-content">
            <div class="tab-pane active container" id="supjects">
              <div class="container table-responsive" style="height:500px; max-width:150%; overflow-x:hidden">
                  <div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
                        </div>
                        <form [formGroup]="myForm">
                          <div class="modal-body">





                                <div class="form-group text-left">
                                  <label for="sID">sID</label>

                                    <input formControlName="sID" type="text" class="form-control">

                                </div>




                                <div class="form-group text-left">
                                  <label for="description">description</label>

                                    <input formControlName="description" type="text" class="form-control">

                                </div>




                                <label for="type">type</label>
                                <div class="checkbox">

                                    <label>
                                      <input

                                          formControlName="type"

                                        name="type"
                                        value="YES_NO"
                                        type="radio"

                                      />
                                      YES_NO
                                    </label>

                                    <label>
                                      <input

                                          formControlName="type"

                                        name="type"
                                        value="CHOICE"
                                        type="radio"

                                      />
                                      CHOICE
                                    </label>

                                </div>




                                <label for="currentState">currentState</label>
                                <div class="checkbox">

                                    <label>
                                      <input

                                          formControlName="currentState"

                                        name="currentState"
                                        value="INITIALIZED"
                                        type="radio"

                                      />
                                      INITIALIZED
                                    </label>

                                    <label>
                                      <input

                                          formControlName="currentState"

                                        name="currentState"
                                        value="ACTIVE"
                                        type="radio"

                                      />
                                      ACTIVE
                                    </label>

                                    <label>
                                      <input

                                          formControlName="currentState"

                                        name="currentState"
                                        value="CLOSED"
                                        type="radio"

                                      />
                                      CLOSED
                                    </label>

                                </div>




                                <div class="form-group text-left">
                                  <label for="choices">choices</label>

                                    <input formControlName="choices" type="text" class="form-control">

                                </div>




                                <div class="form-group text-left">
                                  <label for="voteCount">voteCount</label>

                                    <input formControlName="voteCount" type="number" class="form-control">

                                </div>




                                <div class="form-group text-left">
                                  <label for="owner">owner</label>

                                      <textarea formControlName="owner" class="form-control" rows="3" disabled></textarea>

                                </div>



                          </div>
                          <div class="modal-footer">
                            <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>




                  <div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
                        </div>
                        <form [formGroup]="myForm">
                          <div class="modal-body">



                              <div class="form-group text-left">
                                <label for="sID">sID</label>


                                  <input [ngModel]="sID"formControlName="sID" type="text" class="form-control">


                              </div>

                              <div class="form-group text-left">
                                <label for="description">description</label>


                                  <input [ngModel]="description"formControlName="description" type="text" class="form-control">


                              </div>

                              <div class="form-group text-left">
                                <label for="type">type</label>



                                    <div class="row">
                                      <div class="col-xs-12 checkbox">

                                        <label>
                                          <input

                                              formControlName="type"
                                              [ngModel]="type"

                                            name="type"
                                            value="YES_NO"
                                            type="radio"

                                          />
                                          YES_NO
                                        </label>

                                        <label>
                                          <input

                                              formControlName="type"
                                              [ngModel]="type"

                                            name="type"
                                            value="CHOICE"
                                            type="radio"

                                          />
                                          CHOICE
                                        </label>

                                      </div>
                                    </div>



                              </div>

                              <div class="form-group text-left">
                                <label for="currentState">currentState</label>



                                    <div class="row">
                                      <div class="col-xs-12 checkbox">

                                        <label>
                                          <input

                                              formControlName="currentState"
                                              [ngModel]="currentState"

                                            name="currentState"
                                            value="INITIALIZED"
                                            type="radio"

                                          />
                                          INITIALIZED
                                        </label>

                                        <label>
                                          <input

                                              formControlName="currentState"
                                              [ngModel]="currentState"

                                            name="currentState"
                                            value="ACTIVE"
                                            type="radio"

                                          />
                                          ACTIVE
                                        </label>

                                        <label>
                                          <input

                                              formControlName="currentState"
                                              [ngModel]="currentState"

                                            name="currentState"
                                            value="CLOSED"
                                            type="radio"

                                          />
                                          CLOSED
                                        </label>

                                      </div>
                                    </div>



                              </div>

                              <div class="form-group text-left">
                                <label for="choices">choices</label>


                                  <input [ngModel]="choices"formControlName="choices" type="text" class="form-control">


                              </div>

                              <div class="form-group text-left">
                                <label for="voteCount">voteCount</label>


                                  <input [ngModel]="voteCount" formControlName="voteCount" type="number" class="form-control">


                              </div>

                              <div class="form-group text-left">
                                <label for="owner">owner</label>






                              </div>



                          </div>
                          <div class="modal-footer">
                            <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>



                  <div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
                        </div>
                        <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
                          <div class="modal-body">
                            Are you sure you want to delete this asset?
                          </div>
                          <div class="modal-footer">
                            <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>











                  <div class="container">
                    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                      <strong>Error:</strong> {{errorMessage}}
                    </div>
                    <h1 id='assetName'>Subject</h1>
                    <div class="row">
                      <div class="col-md-12 text-right">
                        <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-bordered table-responsive table-striped">
                          <thead class="thead">
                            <tr class="thead-cols">

                                  <th class="info">sID</th>

                                  <th class="info">description</th>

                                  <th class="info">type</th>

                                  <th class="info">currentState</th>

                                  <th class="info">choices</th>

                                  <th class="info">voteCount</th>

                                  <th class="info">owner</th>

                                <th class="info">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let asset of allAssets">


                                  <td>{{asset.sID}}</td>

                                  <td>{{asset.description}}</td>

                                  <td>{{asset.type}}</td>

                                  <td>{{asset.currentState}}</td>

                                  <td>{{asset.choices}}</td>

                                  <td>{{asset.voteCount}}</td>

                                  <td>{{asset.owner}}</td>

                              <td>
                                <button (click)="getForm(asset.sID);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

                                <button (click)="setId(asset.sID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>


</div>



</body>
